@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    background-color: #edebeb;
    font-family: 'Poppins', sans-serif;
}

nav{
    padding:20px;
}

.name_logo{
    display:flex;
    align-items:center;
}

.name_logo .blue_dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #1c8dc6;
    border-radius: 50%;
}

.name_logo .name{
    margin-left:15px;
    font-size:20px;
    font-weight:bold;
}

.name_logo .degree{
    margin-left:20px;
    color:rgb(115, 115, 115)
}

.link-wi-border{
    text-decoration:none;
    color:#000;
}

.about-image .profile-img{
    border-radius:50%;
    width:400px;
    height:400px;
    object-fit:cover;
}

.about-body{
    margin-top:100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.about-body .about_text{
    max-width:600px;
    margin-left:20px;
}

.about-body .about_text p{
    color:#414141;
}

.container.about-body {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.container.about-body.animate {
    opacity: 1;
    transform: translateY(0);
}

.about-image img {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-image img.loaded {
    opacity: 1;
    transform: scale(1);
}


.section-container{
    margin-top:100px;
}

.title{
    border-bottom:1px solid #8e8e8e;
    padding:10px;
}

.skill-row{
    margin-top:20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skill{
    margin:10px;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100px;
    color:#000;
    text-decoration:none;
}

.skill:hover{
    background-color:#ececec;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    
}

.skill img{
    height:50px;
}

.skill_subtitle{
    margin-top:30px;
}

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    background-color: #e0e0e0;
}

.social_links img{
    width: 25px;
    margin-top:10px;

}

.social_links a{
    text-decoration: none;
    margin-left:8px;
}


.projects{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin-top:30px;
}

.project-card {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid 4px transparent; /* Make border transparent */
    background-clip: padding-box, border-box; /* Clip background */
    background-origin: border-box;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #ff7e5f, #feb47b); /* Double layer background */
    transition: all 0.3s ease;
    margin-top:20px;
}

.project-card:hover {
    transform: scale(1.05); /* Slightly scale up the card */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); /* Add a larger shadow */
    border-color: #ff7e5f; /* Change border color on hover */
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #ff7e5f, #feb47b); /* Ensure gradient border is visible */
    
}

.project-card .card-text{
    margin-top:10px;
    color:#414141;
}

.project-card .technologies{
    margin-top:20px;
    margin-bottom:30px;
}

.project-card .technologies span{
    padding:4px 8px;
    border-radius:20px;
    background-color:#445fea;
    font-size:12px;
    margin-left:4px;
    color:#fff;
}

.project-card{
    position:relative;
}

.project-card .project_links{
    bottom:0;
    position:absolute;
    margin-bottom:10px;
}

.project-card .project_links a{
    margin-right:10px;
    padding:5px;
    text-decoration:none;
    color:rgb(28, 141, 198);
}

.project-card .project_links a:hover{
    text-decoration:underline;

}

.project-card .card-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* For mobile devices */
@media screen and (max-width:800px) {
    .name_logo .blue_dot {
        display:none;
    }

    .name_logo{
        flex-direction: column;
        align-items:center;
    
    }

    .name_logo .name{
        margin:none;
    }


    .name_logo .degree{
        margin:none;
    }

    .about-image .profile-img{
        width:300px;
        height:300px;
    }
    
}

@media screen and (max-width: 1030px) {
    .about-body{
        flex-direction: column;
    }

    .about_text{
        margin-top:30px;
    }

    .skill-row{
        grid-template-columns: 1fr 1fr;
    }
}



.tag {
  display: inline-block;
  background-image: url("https://i.pinimg.com/originals/f9/6d/fb/f96dfb9f9d4e0b42af3888de8b9473a7.gif");
  background-size: cover;
  background-position: 0 -200px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-position: 0 -50px;
}

.not-available{
    color:#ff0000 !important;
    font-style: italic;
}